/*
 * XPI-iMX8MM: ECSPI2 上の MCP2515 (現行 CAN HAT) を M4/Zephyr から使う。
 * 値は Linux 側 DT (kmm-yocto imx8mm-xpi-kart.dts) と同一:
 *   発振 12MHz / SPI 10MHz / INT = GPIO3_IO24 (level-low) / CS0 / 1Mbps
 * 前提: Linux 側で can0 down + mcp251x/spi-imx を unbind してから M4 を起動
 */
&pinctrl {
	ecspi2_default: ecspi2_default {
		group0 {
			/* SS0 はネイティブ CS でなく GPIO5_IO13 として運用:
			 * mcux ECSPI ドライバはネイティブ CS だとマルチバッファ
			 * コマンド (BIT MODIFY 等) の途中で CS がパルスし、
			 * MCP2515 のモード遷移が効かない (実測) */
			pinmux = <&iomuxc_ecspi2_sclk_ecspi_sclk_ecspi2_sclk>,
				 <&iomuxc_ecspi2_mosi_ecspi_mosi_ecspi2_mosi>,
				 <&iomuxc_ecspi2_miso_ecspi_miso_ecspi2_miso>,
				 <&iomuxc_ecspi2_ss0_gpio_io_gpio5_io13>;
			slew-rate = "fast";
			drive-strength = "x6";
		};
	};
};

&gpio3 {
	status = "okay";
};

&gpio5 {
	status = "okay";
};

&ecspi2 {
	status = "okay";
	pinctrl-0 = <&ecspi2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;

	can_mcp2515: mcp2515@0 {
		compatible = "microchip,mcp2515";
		reg = <0>;
		spi-max-frequency = <10000000>;
		osc-freq = <12000000>;
		int-gpios = <&gpio3 24 GPIO_ACTIVE_LOW>;
		bitrate = <1000000>;
		status = "okay";
	};
};
